<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}">
    <title>留言活动处</title>
</head>
<body>
<div class="top">
<div class="fixed outer">
    <div class="fixed-in outer">
        <ul>
            <li><a href="/index2/">首页</a> </li>
            <li><a href="/photo/">照片</a> </li>
            <li><a href="/video/">视频</a> </li>
            <li><a href="/content/">留言</a> </li>
        </ul>
        <div class="login-button">
            <a class="keai_login" href="#">小可爱来这登陆</a>
        </div>
    </div>

</div>
<div class="mid" id="bodyer">
    <div class="content">
    	<div class="tab1">
        <div class="left">
        <h2>情之起</h2>
        <hr/>

    	<p>我大二 你大四</p>
        <p>我进入导师组 成为你的学弟</p>
        <p>怀着对学姐的崇敬 把你视为女神</p>
        <p>你喜欢我 却因考研的临近没有说</p>
        <p>你我之间并无太多交集</p>
        <p>你是学姐 我是学弟</p>
        <p>就这样</p>
        </div>

{#        <img src="images/挑选/20.jpg" class="right " width="300px" />#}
        </div>
        <div class="tab2">
        <div class="right">
        <p>我大三 你大五</p>
        <p>你考研胜利归来 我们又待在了一个教室</p>
        <p>我为自己又能看到女神而高兴</p>
        <p>你依旧隐藏着内心的小秘密</p>
        <p>我们之间还是没有过多交流</p>
        <p>保持着学弟学姐的距离</p>
        <p>直到毕业的临近</p>
         <p>你我都感到所剩时日无多</p>
        <p>我开始找机会接近你</p>
        <p>可能正好如你所愿</p>
        <p>也如我所愿 我的接近那么顺利</p>
        </div>
{#        <img src="images/挑选/19.jpg" class="left" width="300px" />#}
        </div>
        <div class="tab3">
        <div class="left">

        <p>我们开始约会</p>
        <p>疯狂的约会</p>
        <p>看电影</p>
        <p>吃饭</p>
        <p>喝咖啡</p>
        <p>看午夜场电影</p>
        <p>撸串</p>
        <p>下雨天去海边</p>
        <p>在海边的岩石上喝酒 聊天</p>
        <p>凌晨两点还是不想回 好像有说不完的话</p>
        </div>
{#        <img src="images/挑选/21.jpg" class="right" width="300px" />#}
        </div>
        <div class="tab4">
        <div class="right">
        <p>我们做着这些情侣才会做的事</p>
        <p>我们开始悔恨相识太晚</p>
        <p>又自我安慰说太早也不一定是好事</p>
        <p>毕业季不断地临近</p>
        <p>我陪你拍毕业照</p>
        <p>陪你吃道别饭</p>
        <p>陪你们一起在KTV玩到天亮</p>
        <p>珍惜我们能在一起的每一分每一秒</p>
        <p>最不想看到的时刻还是到来</p>
        </div>
{#        <img src="images/挑选/22.jpg" class="left" width="300px" />#}
        </div>
        <div class="tab5">
        <div class="left">
        <p>你毕业了</p>
        <p>离校的中午 我们约在小凉亭见面</p>
        <p>之前想好那么多道别的话却什么也说不出口</p>
        <p>我们就那么静静的坐着</p>
        <p>我希望把握最后的机会 向你表白</p>
        <p>你嫌我情感史太多 怕没有未来 </p>
        <p>我送你到宿舍楼下</p>
        <p>向你要了一个拥抱</p>
        <p>就这样 你离校了</p>
        </div>
{#        <img src="images/挑选/26.jpg" class="right" width="300px" />#}
        </div>
        <div class="tab6">
        <div class="right">
        <p>距离并没有阻断我们的交流</p>
        <p>一向不喜欢网聊的我开始和你聊 一天不间断的聊</p>
        <p>七月一日零点零分零秒</p>
        <p>你说我们在一起吧</p>
        <p>哈 哈 哈 </p>
        <p>我开心的像个傻子 语无伦次</p>
        <p>终于 你是我的女朋友 我是你的男朋友了</p>
        </div>
{#        <img src="images/挑选/25.jpg" class="left" width="300px"  />#}
        </div>
        <div class="chpater2">
        <h2>一往深</h2>
        <hr />
        <p>异地恋是痛苦的</p>
        <p>我们整天抱着手机聊天</p>
        <p>相互自嘲</p>
        <p>我的手机里有个男朋友 我的手机里有个女朋友</p>
        <p>我们是网恋</p>
        <p>我们之间的感情越来越好</p>
        <p>我喜欢你的小可爱 叫你小仙女</p>
        <p>喜欢你臭不要脸的样子</p>
        <p>你说你脾气不好 </p>
        <p>我说我恋爱期都不超过三个月</p>
        <p>我觉得是我们之前没有遇到对的人</p>
        <p>到现在我也没感觉你脾气不好</p>
        <p>到现在也早已超过三个月</p>
        <p>真幸运这么早就遇到你</p>
        <p>我愿努力成长 早日成为那个可以守护你的人</p>
        <p>爱你</p>
        <p>待续。。。</p>
        </div>


    </div>
</div>
</div>

</body>
</html>