<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我们的小空间</title>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index2.css' %}" />
</head>

<body>
<div class="top">
    <div class="top-inner">
        %}
{#        <div class="top-fixed outer">#}
{#            <div class="fixed-in outer">#}
{#                <ul>#}
{#                    <li><a href="/index2/">首页</a> </li>#}
{#                    <li><a href="/photo/">照片</a> </li>#}
{#                    <li><a href="/video/">视频</a> </li>#}
{#                    <li><a href="/content">留言</a> </li>#}
{#                </ul>#}
{#                <div class="login-button">#}
{#                    <a href="#">小可爱来这登陆</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="img">
            <img src="{% static 'images/35464654F9193_meitu_1.png' %}">
        </div>
    </div>
</div>
{#<div class="top">#}
{#    <div class="timeouter">#}
{#	<div class="time">#}
{#        <div class="content-time">#}
{#            We Will Be Together Forever#}
{#        </div>#}
{#        <ul class="countdown">#}
{#  <li> <span class="days">00</span>#}
{#    <span class="days_ref">天</span>#}
{#  </li>#}
{#  <li class="seperator float"></li>#}
{#  <li class="float float1 float2"> <span class="hours">00</span>#}
{#    <p class="hours_ref">hours</p>#}
{#  </li>#}
{#  <li class="seperator float"></li>#}
{#  <li class="float float1" > <span class="minutes">00</span>#}
{#    <p class="minutes_ref">minutes</p>#}
{#  </li>#}
{#  <li class="seperator float"></li>#}
{#  <li class="float float1"> <span class="seconds">00</span>#}
{#    <p class="seconds_ref">seconds</p>#}
{#  </li>#}
{#</ul>#}
{#    </div>#}
{#	</div>#}
{#	<div class="ourphoto">#}
{#    <img class="top-1" src="{% static 'images/img-1.png' %}" />#}
{#	<img class="top-2" src="{% static 'images/IMG_39573.png' %}" />#}
{#    </div>#}
{#	<div class="caidan">#}
{#    	<ul>#}
{#        	<li><a href="/index2/" class="on">首页</a></li>#}
{#            <li><a href="#" >照片</a></li>#}
{#            <li><a href="#" >留言记录</a></li>#}
{#            <li><a href="#" >美丽瞬间</a></li>#}
{#        </ul>#}
{#           #}
{#    </div>#}
{#</div>#}
<div class="bodyer">
    <div class="bodyer-top">
        <div class="photo-text"><span>照片墙</span></div>
        <div class="border"></div>
        <div class="top1 outer">
            <div class="photo1 photo">
                <img src="{% static 'images/mmexport1475771299253.jpg' %}" >
                <div class="quan">
                    <div></div>
                    <span>看！无字天书！</span>
                    <hr/>
                </div>
            </div>
            <div class="photo2 photo">
                <img src="{% static 'images/mmexport1475853334862.jpg' %}">
                <div class="quan">
                    <div></div>
                    <span>一个人寂寞寂寞</span>
                    <hr/>
                </div>
            </div>
            <div class="photo3 photo">
                <img src="{% static 'images/mmexport1475771301980.jpg' %}">
                <div class="quan">
                    <div></div>
                    <span>我咋看不见，哪呢？</span>
                    <hr/>
                </div>
            </div>
            <div class="photo4 photo">
                <img src="{% static 'images/mmexport1475771311021.jpg' %}">
                <div class="quan">
                    <div></div>
                    <span>信不信我能爬上去！</span>
                    <hr/>
                </div>
            </div>
            <div class="photo5 photo">
                <img src="{% static 'images/mmexport1475771313635.jpg' %}">
                <div class="quan">
                    <div></div>
                    <span>不信...</span>
                    <hr/>
                </div>
            </div>
            <div class="photo6 photo">
                <img src="{% static 'images/mmexport1475772040269.jpg' %}">
                <div class="quan">
                    <div></div>
                    <span>夕阳西下，断肠人...</span>
                    <hr/>
                </div>
            </div>
            <div class="photo7 photo">
                <img src="{% static 'images/2016-10-03 153827.jpg' %}">
                <div class="quan">
                    <div></div>
                    <span>想和你一起吹吹风</span>
                    <hr/>
                </div>
            </div>
            <div class="photo8 photo">
                <img src="{% static 'images/2016-10-03 152643.jpg' %}">
                <div class="quan">
                    <div></div>
                    <span>吹吹风</span>
                    <hr/>
                </div>
            </div>
            <div class="photo9 photo">
                <img src="{% static 'images/mmexport1475772042986.jpg' %}">
                <div class="quan">
                    <div></div>
                    <span>在林子里？</span>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
    <div class="bodyer-mid1">
        <div class="miyu">
            <span>“情之起 一往深 而至挚”</span>
        </div>
    </div>
    <div class="bodyer-mid2 outer">
        <div class="left">
            <img src="{% static 'images/mmexport1475566650043.jpg' %}">
            <p>焦江龙</p>
            <span class="age">1994 正月 初六</span>
            <span>青岛理工大学 建筑学</span>
            <span>自学编程 转业中。。。</span>
            <hr/>
            <span class="text">喜欢你的小可爱</span>
            <span class="text">喜欢你的不要脸</span>
            <span class="text">喜欢你的贱</span>
            <span class="text">喜欢你扛打耐摔</span>
            <span class="text">（哈哈哈。。。）</span>
            <span class="text"></span>
            <span class="text">从一开始就是异地恋</span>
            <span class="text">能走到现在很不容易</span>
            <span class="text">有过很多的争吵</span>
            <span class="text">有过很多的矛盾</span>
            <span class="text">但更多的是互相的理解 包容</span>
            <span class="text"></span>
            <span class="text">珍惜现在所拥有的</span>
            <span class="text">期盼未来</span>
            <span class="text">愿未来一直有你</span>
        </div>
        <div class="right">
            <img src="{% static 'images/mmexport1475566646557.jpg' %}">
            <p>李恬楚</p>
            <span class="age">1993 12 19</span>
            <span>青岛理工大学 建筑学</span>
            <span>南京大学 建筑学研究生</span>
            <hr/>
            <span class="text">喜欢你的帅</span>
            <span class="text">喜欢你的帅</span>
            <span class="text">喜欢你的帅</span>
            <span class="text">喜欢你的高</span>
            <span class="text">（认真脸）</span>
            <span class="text"></span>
            <span class="text">从一开始就是异地恋</span>
            <span class="text">能走到现在很不容易</span>
            <span class="text">有过很多的争吵</span>
            <span class="text">有过很多的矛盾</span>
            <span class="text">但更多的是互相的理解 包容</span>
            <span class="text"></span>
            <span class="text">珍惜现在所拥有的</span>
            <span class="text">期盼未来</span>
            <span class="text">愿未来一直有你</span>
        </div>
    </div>
    <div class="bodyer-mid3">
        <span>哈</span>
    </div>
    <div class="bodyer-mid4">
        <div class="mid4-in">
            <div class="time">
                <p>We Will Be Together Forever</p>
                <div class="border"></div>
                <span>HAVE BEEN FALL IN LOVE SINCE 2016.07.01</span>
                <div class="timeouter">
	                <div class="time-in">
                        <ul class="countdown outer">
                            <li> <span class="days">00</span>
                                <p class="days_ref">days</p>
                            </li>
                            <li class="seperator float"></li>
                            <li class="float float1 float2"> <span class="hours">00</span>
                                <p class="hours_ref">hours</p>
                            </li>
                            <li class="seperator float"></li>
                            <li class="float float1" > <span class="minutes">00</span>
                                <p class="minutes_ref">minutes</p>
                            </li>
                            <li class="seperator float"></li>
                            <li class="float float1"> <span class="seconds">00</span>
                                <p class="seconds_ref">seconds</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bodyer-mid5">
        <span>这里是楚楚和娇娇的小空间</span>
        <div class="border"></div>
        <span>谢谢访问</span>
        <br/>
        <img src="{% static 'images/dongtu1.gif' %}">
    </div>
    <div class="bodyer-foot">
        <div class="foot"></div>
    </div>
</div>
<div class="login" id="login">
    <div class="mid">
        <div class="form-out">
            <div class="form-top">
                <span>登陆有特权哦</span>
            </div>
            <div class="form">
                <form>
                    <div class="name">
                        <input type="text" placeholder="用户名">
                    </div>
                    <div class="pwd">
                        <input type="password" placeholder="密码">
                    </div>
                    <input class="button" type="submit" value="登陆">
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/jquery.downCount.js' %}"></script>
<script type="text/javascript" src="{%  static 'js/index2.js' %}"></script>
<script class="source" type="text/javascript">
	$('.countdown').downCount({
		date: '06/01/2016 00:00:00',
		offset: +10
	}, function () {
		alert('倒计时结束!');
	});
</script>
</body>
</html>
